* {
  margin: 0;
  padding: 0;
}

/* for all buttons */
button {
  background-color: #ff5959;
  padding: 10px 20px;
  border: 1px solid #ff5959;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #db2929dc;
}

/* For all p tags */
p {
  font-family: "Arima", cursive;
}

/* For all a tag*/
a {
  text-decoration: none;
  color: #858585;
}

/* For all h1 tags */
h1 {
  font-family: "Bebas Neue", cursive;
}

/* For all h2 tags */
h2 {
  font-size: 35px;
  font-weight: 900;
  font-family: "Gentium Book Plus", serif;
}

/* For all h3 tags */
h3 {
  font-family: "Raleway", sans-serif;
}

/* For all h6 tags */
h6 {
  font-family: "Raleway", sans-serif;
}

/* All Flexible area and flexible article*/
.flexible {
  display: flex;
  justify-content: center;
}
.flexible-article {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Section 01 : header area */
.header-area {
  text-align: center;
  padding: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), #000),
    url(./images/donation13.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

.header-area h1 {
  font-size: 70px;
  font-weight: 400;
  margin-top: 250px;
}

.header-article {
  margin-top: 20px;
}

/* Section 02 : donate-today-area */
.donate-today-area {
  padding: 100px;
  text-align: center;
}

.ammount {
  font-size: 25px;
  border: 1px solid #fafafa;
  padding: 30px 15px;
  margin: 20px 20px;
  background-color: #fafafa;
  border-radius: 4px;
}

.suggested-ammount {
  border: 1px solid #ff5959;
  color: #ff5959;
  background-color: #ffeeee;
}

.donate-submit input {
  border: none;
  text-align: center;
  border-bottom: 1px solid gray;
  width: 40%;
  margin-bottom: 20px;
}

/* section 03:  donate-plan */
.donate-plan-area {
  padding: 10px 370px;
  text-align: center;
}

.donate-sectors {
  padding: 30px 15px;
  margin: 20px 10px;
  border-radius: 4px;
  text-align: left;
}

.donate-sectors img {
  margin: 10px 1px;
}

.donate-sectors h3 {
  margin: 10px 1px;
}

.donate-sectors p {
  color: #858585;
  margin: 10px 1px;
}

.food-sector {
  border: 1px solid #edf5f6;
  background-color: #edf5f6;
}
.shelter-sector {
  border: 1px solid #ffeeee;
  background-color: #ffeeee;
}
.education-sector {
  border: 1px solid #fff4d6;
  background-color: #fff4d6;
}

/* Section 04: contribute-area */
.contribute-area {
  margin: 30px 280px;
}
.contribute-article {
  width: 50%;
  margin: 50px;
}

.contribute-article img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.contribute-article img:hover {
  width: 110%;
  height: 110%;
  transition: 0.8s;
}

.contribute-texts {
  margin-bottom: 30px;
}
.contribute-contents {
  padding: 50px;
}

.contribute-contents:hover {
  box-shadow: 10px 10px 10px gray;
  transition: 0.7s;
  border-radius: 5px;
}

/* section 05: update-area*/
.update-area {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 100px;
  font-family: "Raleway", sans-serif;
}

.form-area {
  border: 1px solid #04aa6d;
  border-radius: 10px;
  margin: 25px 300px;
  padding: 20px;
  background: linear-gradient(#04aa6d, #426458);
  color: white;
}

.input-labels {
  margin: 10px 50px;
  font-size: 20px;
}

.text-area {
  border: 1px solid #04aa6d;
  border-radius: 5px;
}

select {
  padding: 0px 52px;
}

.submit {
  background-color: #db4376;
  padding: 10px 20px;
  border: 1px solid #db4376;
  border-radius: 7px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 330px;
}

.submit:hover {
  background-color: #f1296c;
}

/* Section 06: footer area */
.footer-area {
  background-color: #0b0d17;
  height: 15vh;
  text-align: center;
  color: white;
}

.footer-area h3 {
  padding-top: 30px;
  color: #ff5959;
}

.footer-area h6 {
  padding-top: 20px;
}
